* {
    border: 1px solid red;

}
body {
    background-color: pink;
    display:flex;
    height: 100vh;
}
.sidebar {
    position: relative;
    height: 100vh;
    flex: 1 4 auto;
    min-width: 10rem;
    max-width: 25rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.sidebar-header {
    background-color: deeppink !important;
    padding: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.sidebar-body{
    flex-grow: 1;
    background-color: pink;
    display: flex;
    flex-direction: column;

    .folder-card{
        background-color: white;

        &.active{
            background-color:green;
        }
        &.inactive{
            background-color:palevioletred;
        }
    }
}
.sidebar-body button {
    padding: 1rem 0;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
}

main{
    min-width: 10rem;
    flex: 4 1 auto;
    display: flex;
    flex-direction: column;

}
.main-header{
    padding: 2rem;
    font-size: 2rem;
}
.main-content{
    flex-grow: 1;
    display: flex;


}
.notebar{
    flex: 1 3 auto;
    min-width: 10rem;
    max-width: 25rem;
    background-color: whitesmoke;

}
.pad{
    min-width: 20rem;
    flex: 3 1 auto;
    background-color: navajowhite;

}

dialog{
    background-color: mediumaquamarine;
    place-self: center;
    text-align: center;
    display:flex;
    flex-direction: column;

    &::backdrop {
        backdrop-filter: blur(2px);
    }
}

dialog form {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}




